html {
  background-color: #000;
}

.stripes {
  position: relative;
  border-top: #b3fbff;
  border-bottom: #b3fbff;
  border-width: medium;

  background-image: repeating-linear-gradient(-45deg, #c9fcff, #d4fdff 1%);

}

.text {
  max-width: 19em;
  color: #c09;
  font-family: "Fredoka One", cursive;
  /*animation: blur 1s 3s linear forwards;*/
}

.text h1 {
  color: #990073;
  transform: rotate(-15deg);
}

.text p {
  color: #c09;
  transform: rotate(-10deg);
}

.btn-ghost {
  color: #c09;
  border-color: #c09;
}

.btn-ghost:hover {
  color: #990073;
  border-color: #990073;
  background-color: rgb(153, 0, 115, .1)
}

.cherry {
  bottom: calc(70%);
  left: calc(72%);
  position: absolute;
  width: 30px;
  animation: plop 1s 1s linear forwards;
}

.vanilla {
  bottom: calc(52%);
  left: calc(70%);
  position: absolute;
  width: 70px;
  animation: plop 1s 1s linear forwards;
}

.chocolate {
  bottom: calc(40%);
  left: calc(71%);
  position: absolute;
  width: 70px;
  animation: plop 1s 1s linear forwards;
}

.mint-chip {
  bottom: calc(25%);
  left: calc(70%);
  position: absolute;
  width: 70px;
  animation: plop 1s 1s linear forwards;
}

.cone {
  bottom: calc(5%);
  left: calc(70%);
  position: absolute;
  width: 70px;
  animation: plop 1s 1s linear forwards;
}

@keyframes blur {

  0% {
    filter: blur(0px);
  }

  100% {
    filter: blur(7px);
  }

}

@keyframes plop {

  0% {
    transform: translateY(-5em);
  }

  100% {
    transform: translate(y);
  }

}
