html {
  background-color: #000;
}

.red {
  background: red;
}

.stripes {
  border-top: #b3fbff;
  border-bottom: #b3fbff;
  border-width: medium;

  background-image: repeating-linear-gradient(-30deg, #c9fcff, #d4fdff 2%);
}

.text {
  color: #c09;
  font-family: "Fredoka One", sans-serif;
  transform-origin: left center;
  animation: blur 3s linear forwards;
}

.text h1 {
  color: #990073;
  transform: rotate(-10deg);
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
}

.text p {
  color: #c09;
  transform: rotate(-5deg);
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
  max-width: 19em;
}

.btn-ghost {
  color: #c09;
  border-color: #c09;
}

.btn-ghost:hover {
  color: #990073;
  border-color: #990073;
  background-color: rgba(153, 0, 115, .5);
}

.ice-cream {
  min-height: 480px;
}

.cherry {
  animation: cherry-plop 1s 1.25s linear forwards;
}

.piece {
  bottom: 100%;
  width: 150px;
  height: 150px;

  left: 50%;

  transform: translateX(-80%);
}

.cherry-piece {
  bottom: 100%;

  left: 50%;

  transform: translateX(-100%);
}

.vanilla {
  animation: vanilla-plop 1s 1s linear forwards;
}

.chocolate {
  animation: chocolate-plop 1s .75s linear forwards;
}

.mint-chip {
  animation: mint-plop 1s .5s linear forwards;
}

.cone {
  animation: cone-plop .25s linear forwards;
}

@keyframes blur {

  0% {
    filter: opacity(0%);
  }

  50% {
    filter: opacity(0%);
  }

  100% {
    filter: opacity(100%);
  }

}

@keyframes cherry-plop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 400px;
  }

}

@keyframes vanilla-plop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 260px;
  }

}

@keyframes chocolate-plop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 220px;
  }

}

@keyframes mint-plop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 130px;
  }

}

@keyframes cone-plop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}
